# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Logs
*.log
.log
npm-debug.log
npm-debug.log*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
